<h1>Welcome <%= @user.name %></h1>

<h2>Your Posts</h2>

<ul>
  <% if @user.posts.length != 0 %>

      <% @user.posts.each do |post| %>
          <li><%= post.name %> : <%= post.comment %><%= link_to "Edit Post | ", edit_post_path(post) %> <%= link_to "Delete Post", post_path(post),
                         :confirm => "You sure?",
                         :method => "delete" %> </li>
      <% end %>
  <%end%>
<h2>Your answers</h2>
  <% if @user.answers.length != 0 %>

        <% @user.answers.each do |answer|%>
          <li> <%= answer.answer%> <%= link_to "Edit Answer | ", edit_answer_path(answer) %> <%= link_to "Delete Answer", answer_path(answer), :confirm => "You sure?", :method => "delete" %> </li>

          </li>

    <%end%>
  <% end %>
</ul>



<%= link_to "Create a new post", new_post_path, :class => "btn btn-info" %>



<nav class="navbar navbar-fixed-bottom" role="navigation">
<p><%= link_to "Edit this user", edit_user_path(@user)%>
       <%= link_to "Delete this user", user_path(@user),
                         :confirm => "You sure?",
                         :method => "delete" %></p>
</nav>
